@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: url("./img/Group\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.header {
    padding: 30px 100px;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    font-family: 'Secular One';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    padding-left: 60px;

}

h1::before {
    content: url('./img/Union.png');
    width: 10px;
    height: 19px;
    background-size: cover;
    position: absolute;
    left: 7%;
    /* top: 20px; */
}

h1::after {
    content: url('./img/Vector\ 6.png');
    width: 10px;
    height: 19px;
    background-size: cover;
    position: absolute;
    
    left: 7.8%;
}



.liWrapp {
    display: flex;
    width: 35%;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;

}

.h1Div::after {
    content: url('./img/Vector\ 7.png');
    width: 10px;
    height: 19px;
    background-size: cover;
    position: absolute;
    left: 8.9%;
    top: 42px;
}

.headerItems {
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
list-style-type: none;
color: #202020;
text-decoration: none;
padding-bottom: 5px;
border-bottom: 3px solid transparent;
transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.headerItems:hover {
    border-bottom: 2px solid #FFC247;
    color: #FFC247;
}

button {
    width: 162px;
height: 50px;
transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);


background: #131416;
border-radius: 34px;
border: none;
}

.buttonText {
    font-family: 'Manrope';

font-weight: 500;
font-size: 16px;

color: #fff;
cursor: pointer;

}

button:hover {
    box-shadow: 2px 2px 3px rgba(42, 41, 41, 0.397);
}

body {
    background-color: #E6EFEE;

}

.h2Text {
width: 702px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 125px;
margin: 0 auto;
text-align: center;
color: #131416;
text-shadow: 1px 1px 10px #2020204d;


}

.h2Text > span {
    color: #4FC27E;
    font-weight: 200;
    text-shadow: none;
}
.main {
    height: 70vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
}


.CirclGreen {
    width: 1330px;
    height: 867px;
    border-radius: 665px / 434px;
    border: 1px solid #73E4A0;
    transform: rotate(-27.08deg);
    position: absolute;
    top: 80px;
    z-index: -1;
}

.CirclOrange {
    position: absolute;
    width: 1552.69px;
    border-radius: 776px / 515px;
    height: 1031.37px;
    top: -50px;
    left: -90px;
    transform: rotate(-27.08deg);
    border: 1px solid #FFAA85;
    z-index: -1;
    /* border-image-source: linear-gradient(to left, #FFAA85, #B3D075); */
}

.circleYellow {
    position: absolute;
width: 445px;
height: 445px;
left: 50%;
top: 325px;
border-radius: 50%;
background: #FFC247;
z-index: -2;
transform: translate(-50%, 0);
}

.circleWhite {
    position: absolute;
width: 61px;
height: 61px;
left: 67%;
top: 101px;
border-radius: 50%;
box-shadow: 1px 1px 2px #20202025;
background: linear-gradient(305.73deg, #FFFFFF -4.29%, rgba(255, 255, 255, 0) 96.27%);
}

.ElipseBlack {
    position: absolute;
width: 1803px;
height: 746px;
background: #202020;
border-radius: 900px / 373px;
bottom: -750px;
left: 50%;
transform: translate(-50%, 0);
}

.small {
    width: 41px;
    height: 41px;
    position: absolute;
    left: 10%;
    top: 220px;
}

.girl {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 220px;
    transform: translate(-62%, 0);
}

.string {
    position: absolute;
    left: 70%;
    top: 400px;
}

.smile {
    position: absolute;
    left: 75%;
    top: 200px;
    width: 230px;
}

.helloWord {
    position: absolute;
    width: 140px;
    left: 20%;
    top: 449px;
}

.yellowElipse {
    position: absolute;
    left: 32%;
    top: 206px;
}

.grinElipse {
    position: absolute;
    left: 4%;
top: 672px;
}

.grinElipseSmall {
    position: absolute;
    width: 25px;
height: 25px;
left: 93%;
top: 566px;

}

.pinkElipseSmall {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 93%;
    top: 195px;
}

.cardGlass {
    position: absolute;
width: 378px;
height: 144px;
left: 75%;
top: 754px;
}

.wrapperWhiteCard {
    width: 208px;
    height: 260px;
    background-color: #fff;
    border-radius: 38px;
    position: absolute;
    left: 16%;
    top: 660px;
    z-index: 50;
    font-family:  'Roboto', sans-serif;
}

.wrapperWhiteCard > .img {
   border-radius: 50%;
   width: 90px;
   border: double 15px transparent;
   border-radius: 50%;
   background-image: linear-gradient(white, white), radial-gradient(circle at top, #e6efeea8,#e6efee);
   background-origin: border-box;
   background-clip: content-box, border-box;
   position: absolute;
   top: -50px;
   left: 50%;
   transform: translate(-50%, 0);
}

.wrapperWhiteCard > .city {
    padding: 80px 0px 0px 0px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #999999;

 }

 .wrapperWhiteCard > .name {
    padding: 8px 0px 0px 0px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;

color: #000000;
 }


 .wrapperWhiteCard > .name > span {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;

color: #4FC27E;
 } 

 .wrapperWhiteCard > .place {
    padding: 8px 0px 12px 0px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;


 }

 .wrapperWhiteCard > .place > span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
    
    
 }

 .wrapperWhiteCard > .btnCard {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    border: solid 3px #64646432;
    color: #FF7E88;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
 }

 .yellowMan {
    position: absolute;
    width: 378px;
    height: 144px;
    left: 952px;
    top: 667px;
    
    background: rgba(134, 132, 132, 0.39);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 10px 90px 50px -32px rgba(32, 32, 32, 0.4);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 30px;
    
 }

 .yellowMan > img{
     position: absolute;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    left: 7%;
    box-shadow: 1px 1px 4px #e2e2e283;
 }

 .TEXTimgWrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
     width: 182px;
     height: 95px;
     right: 7%;
    display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .yellowMan  .TEXTimg {
 
width: 172px;
height: 18px;


background: linear-gradient(89.9deg, #FFFFFF -7.46%, rgba(255, 255, 255, 0) 138.55%);
border-radius: 15px;
 }

 .TEXTimg:last-child {
 
    width: 112px;

     }

@media (max-width: 768px) {
    .header {
        padding: 30px 20px;
        margin: 0 auto;
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        
    }
    
    h1 {

        font-size: 25px;

    
    }
    
    h1::before {

        left: 2%;
        /* top: 20px; */
    }
    
    h1::after {

        
        left: 3.8%;
    }
    
    
    .h1Div::after {
        left: 5.7%;
    }
    
    .headerItems {

    font-size: 13px;
    }
    
    button {
        width: 142px;

    }
    

    

    
    .h2Text {
    width: 502px;
    font-size: 70px;
    line-height: 85px;
    }
    

    
    .helloWord {

        left: 5%;

    }
    

    
    .wrapperWhiteCard {
        width: 150px;
        height: 200px;
        left: 6%;

    }
    
    .wrapperWhiteCard > .img {
       border-radius: 50%;
       width: 79px;

    }
    
    .wrapperWhiteCard > .city {
        padding: 40px 0px 0px 0px;

    font-size: 13px;

    
     }
    
     .wrapperWhiteCard > .name {
       
    font-size: 16px;

     }
    
    
     .wrapperWhiteCard > .name > span {
        font-size: 17px;
     } 
    


    
     .wrapperWhiteCard > .btnCard {
         width: 100px;
   
        font-size: 12px;
        cursor: pointer;
     }
    
     .yellowMan {
         top: 730px;
        position: absolute;
        z-index: 40;
        width: 280px;
        left: 60%;
        
     }
    
     .yellowMan > img{
         position: absolute;
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 50%;
        top: 50%;
        transform: translate(0, -50%);
        left: 7%;
        box-shadow: 1px 1px 4px #e2e2e283;
     }
    
     .TEXTimgWrapper {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
         width: 132px;
         height: 75px;
         right: 7%;
        display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
    
     .yellowMan  .TEXTimg {
     
    width: 82px;
    height: 18px;
    
    
    background: linear-gradient(89.9deg, #FFFFFF -7.46%, rgba(255, 255, 255, 0) 138.55%);
    border-radius: 15px;
     }
    
     .TEXTimg:last-child {
     
        width: 112px;
    
         }
    
}


 


@media (max-width: 450px) {
    .header {
        margin: 0 auto;
        
        display: flex;
        width: 92%;
        justify-content: space-between;
        align-items: center;
        
    }
    
    h1 {
        padding-left: 24px;
        font-size: 20px;

    
    }
    
    h1::before {

        left: 2%;
        /* top: 20px; */
    }
    
    h1::after {

        top: 37px;
        left: 3.9%;
    }
    
    .liWrapp {
        width: 60%;
    }

    
    .h1Div::after {
        left: 7.9%;
    }
    
    .headerItems {

    font-size: 13px;
    }
    
    button {
        width: 172px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 1050px;
        z-index: 70;

    }
    
    .buttonText {
        font-size: 17px;
    }
    

    
    .h2Text {
    width: 402px;
    font-size: 50px;
    line-height: 85px;
    }
    

    
    .helloWord {

        left: 0.2%;

    }
    

    
    .wrapperWhiteCard {
        top: 750px;
 
    }
    
    .wrapperWhiteCard > .img {
       border-radius: 50%;
       width: 79px;

    }
    
    .wrapperWhiteCard > .city {
        padding: 40px 0px 0px 0px;

    font-size: 13px;

    
     }
    
     .wrapperWhiteCard > .name {
       
    font-size: 16px;

     }
    
    
     .wrapperWhiteCard > .name > span {
        font-size: 17px;
     } 
    


    
     .wrapperWhiteCard > .btnCard {
         width: 100px;
    top: 0px;
        position: relative;
        font-size: 12px;
        cursor: pointer;
     }
    
     .yellowMan {
         top: 730px;
        position: absolute;
        z-index: 40;
        width: 280px;
        left: 60%;
        display: none;
        
     }
    
     .smile {
        position: absolute;
        left: 70%;
        top: 250px;
        width: 230px;
        width: 100px;
    }

    .string {
        display: none;
    }
    
    
}

